* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* full viewport height */
}

main {
  flex: 1; /* push footer to bottom */
  font-size: 16px;
  display: flex;
}

header {
  background: #0077b6;
  color: white;
  padding: 1em;
  text-align: center;
}

.sidebar {
  background: #d0dde0;
  width: 20%;
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
}

nav ul {
  background: #023e8a;
  list-style: none;
  margin: 0;
  padding: 0.3em;
  font-size: 1.2em;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 2em;
}

nav ul li a {
  color: white;
  text-decoration: none;
  padding: 0.5em;
}

nav ul li a:hover {
  background: #00b4d8;
}

#cart-main {
  flex-direction: column;
}

#flight-cart {
  flex-direction: row;
}

#hotelBody {
  margin-top: 3em;
  flex-wrap: wrap;
  flex-direction: column;
}

#hotel-cart1 tr,
#hotel-cart2 tr {
  text-align: left;
}

#hotel-cart1 {
  margin-top: 1em;
  width: 30%;
  margin-bottom: 1em;
}

#hotel-cart2 {
  width: 80%;
  margin-bottom: 1em;
}

#cart-button {
  display: flex;
  align-self: flex-end;
  margin-right: 10%;
}

#hotel-table {
  table-layout: fixed;
  width: 90%;
  margin: 10px auto;
  border-collapse: collapse;
  border-radius: 2px black;
}

#hotel-table th {
  background-color: rgb(240, 240, 240);
}

#hotel-table th,
#hotel-table td {
  padding: 0.5em;
}

#hotel-table tr {
  text-align: center;
}

#hotel-table tr:nth-child(odd) {
  background-color: rgb(240, 240, 240);
}

#hotel-table tr:nth-child(even) {
  background-color: lightgrey;
}

#hotel-table tr:hover {
  background-color: lightskyblue !important;
}

#hotel-table tr:first-child {
  background-color: transparent;
}

/* FOOTER */
footer {
  background: #caf0f8;
  text-align: center;
  padding: 0.9em 0; /* taller height */
  font-size: 0.95em; /* larger text */
  box-shadow: 0 -3px 8px rgba(0, 0, 0, 0.15);
  position: relative;
  width: 100%;
  bottom: 0;
}

/* BUTTONS IN FOOTER */
footer button {
  background-color: #00b4d8;
  color: white;
  border: none;
  padding: 8px 12px; /* bigger buttons */
  margin: 0 25px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.95em;
  transition: background 0.3s ease;
}

footer button:hover {
  background-color: #0077b6;
}
